---
import '../styles/global.css';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
const pageTitle = "Home Page"
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{Astro.generator}">
    <title>Astro Ever Document</title>
</head>
<body>
   <Header />
   <h1>{pageTitle}</h1> 
   <ul>
    <li> <a href="/posts/post-1">post1</a></li>
   </ul>
   <Footer />
</body>
</html>

